@import "./reset.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}

html,
body {
  width: 100vw;
  height: 100vh;
}

@layer base {
  .icon-wrapper {
    @apply h-10 w-10 md:h-8 md:w-8 lg:h-6 lg:w-6;
  }
}
