@import 'prism-themes/themes/prism-vsc-dark-plus.css';
@import './variables.scss';
@import './mixins.scss';

@tailwind base;
@tailwind components;
@tailwind utilities;

#nav,
#dark-mode-toggle-container {
  z-index: 9999;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  // overflow:
  font-size: 16px;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased; 
  -moz-osx-font-smoothing: grayscale;
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}

body {
  @apply font-raleway text-base antialiased;
  min-height: 100vh;
  overflow-x: hidden; /* Prevent horizontal scroll */
  overflow-y: auto;
  font-feature-settings: 'liga' on; /* Enable ligatures */
  transition:
    background-color 0.3s ease,
    color 0.3s ease; /* Smooth transition for background and text colors */
}

pre {
  white-space: pre-wrap;  /* Ensures line breaks and white space are preserved */
  word-wrap: break-word;  /* Allows breaking long lines */
  line-height: 1.5;       /* Improves readability with proper line height */
  width: 100%;
}

span.highlight {
  background-color: yellow;  /* Ensure the highlight is applied only to the selected portion */
  position: relative;        
  border-radius: 3px;
  padding: 2px;
}

span.highlight .badge {
  position: absolute;
  top: -5px;
  right: -5px;
  background-color: #ffeb3b; /* Yellow badge background */
  border-radius: 50%;
  padding: 2px 5px;
  font-size: 10px;
  color: black;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Hide scrollbar for Chrome, Safari, and Opera */
}

.scrollbar-hide {
  -ms-overflow-style: none; /* Hide scrollbar for Internet Explorer and Edge */
  scrollbar-width: none; /* Hide scrollbar for Firefox */
}

#nav,
#dark-mode-toggle-container {
  z-index: 9999;
}

/* Light Mode Color Variables */
@layer base {
      :root {
      --primary: #bfdbfe;
      --primary-50: #eff6ff;
      --primary-100: #dbeafe;
      --primary-200: #bfdbfe;
      --primary-300: #93c5fd;
      --primary-400: #60a5fa;
      --primary-500: #3b82f6;
      --primary-600: #2563eb;
      --primary-700: #1d4ed8;
      --primary-800: #1e40af;
      --primary-900: #1e3a8a;
      --primary-950: #172554;
      
      --secondary: #cbd5e1;
      --secondary-50: #f8fafc;
      --secondary-100: #f1f5f9;
      --secondary-200: #e2e8f0;
      --secondary-300: #cbd5e1;
      --secondary-400: #94a3b8;
      --secondary-500: #64748b;
      --secondary-600: #475569;
      --secondary-700: #334155;
      --secondary-800: #1e293b;
      --secondary-900: #0f172a;
      --secondary-950: #020617;
      
      --accent-one: #ff007f;
      --accent-two: #007bff;
      --accent-three: #00ffff;
      --accent-four: #090492;
      --accent-five: #ffcc00;
    }
  }

[class='dark'] {
  :root {
    --accent-one: #6d28d9;
    --accent-two: #1e3a8a;
    --accent-three: #606060;
    --accent-four: #ffd700;
    --accent-five: #0f766e;
  }
  body {
    @apply bg-primary-900 text-primary-50;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary: #1e40af;
    --secondary: #1e293b;
    --accent-one: #6d28d9;
    --accent-two: #1e3a8a;
    --accent-three: #606060;
    --accent-four: #ffd700;
    --accent-five: #0f766e;
  }

  body {
    // @apply bg-primary-900 text-primary-100;
    color: var(--primary-100);
    transition:
      background-color 0.3s ease,
      color 0.3s ease;
  }

  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  li {
    color: var(--primary-950);
    transition: color 0.3s ease;
  }
}

.mermaid {
  p {
    @apply text-gray-100
  }
  
  .mermaidTooltip {
    position: absolute;
    text-align: center;
    max-width: 200px;
    padding: 2px;
    font-family: 'trebuchet ms', verdana, arial;
    font-size: 12px;
    background: inherit;
    border: 1px solid #aaaa33;
    border-radius: 2px;
    pointer-events: none;
    z-index: 100;
  }
}

.mermaidTooltip {
  position: absolute;
  text-align: center;
  max-width: 200px;
  padding: 2px;
  font-family: 'trebuchet ms', verdana, arial;
  font-size: 12px;
  background: inherit;
  border: 1px solid #aaaa33;
  border-radius: 2px;
  pointer-events: none;
  z-index: 100;
}

.nodeLabel p {
  @apply text-sm text-base;
}

a {
  @apply text-base font-medium leading-relaxed text-primary-600 hover:text-primary-500 dark:text-primary-400 dark:hover:text-primary-300;
  transition: color 0.3s ease;
}

/* Blockquote and Code Styles */
blockquote {
  @apply border-l-4 border-primary-300 pl-4 font-serif text-xl font-medium italic leading-relaxed text-secondary-700;
  margin-bottom: 1rem;
}

code {
  @apply rounded bg-secondary-50 px-1 font-mono text-sm;
}

/* List Styles */
ul,
ol {
  @apply pl-5 font-raleway text-base leading-relaxed text-secondary-800;
  margin-bottom: 1rem;
}

li {
  // @apply mb-2 text-sm md:text-base lg:text-lg prose dark:prose-invert prose-x;
  @apply mb-2;
}


@layer base {
  h1 {
    @apply text-3xl md:text-4xl lg:text-5xl xl:text-6xl;
    @apply font-sans font-bold leading-tight text-accent-primary-950 dark:text-accent-primary-50;
    margin-bottom: 2rem;
    transition: color 0.3s ease;
  }
  h2 {
    @apply text-2xl md:text-3xl lg:text-4xl xl:text-5xl;
    @apply font-sans font-semibold leading-snug text-primary-900 dark:text-primary-100;
    margin-bottom: 1.75rem;
    transition: color 0.3s ease;
  }
  h3 {
    @apply text-xl md:text-2xl lg:text-3xl xl:text-4xl;
    @apply font-sans font-medium leading-normal text-primary-800 dark:text-primary-200;
    margin-bottom: 1.5rem;
    transition: color 0.3s ease;
  }
  h4 {
    @apply text-lg md:text-xl lg:text-2xl xl:text-3xl;
    @apply font-sans font-medium leading-normal text-primary-700 dark:text-primary-300;
    margin-bottom: 1.25rem;
    transition: color 0.3s ease;
  }
  h5 {
    @apply text-base md:text-lg lg:text-xl xl:text-2xl;
  }
  h6 {
    @apply text-sm md:text-base lg:text-lg xl:text-xl;
  }

  h5, 
  h6 {
    @apply font-sans font-medium leading-normal text-primary-700 dark:text-primary-300;
    margin-bottom: 1.25rem;
    transition: color 0.3s ease;
  }

  p {
    @apply font-raleway text-base font-normal leading-relaxed text-primary-900 dark:text-primary-100;
    @apply prose prose-xl dark:prose-invert;
    margin-bottom: 1rem;
  }

  .tabs .tab-list {
    @apply gap-1;
    display: flex;
    list-style: none;
  }
  
  .tabs .tab-list button {
    @apply bg-gray-100 text-primary-800;
    padding: 10px;
    border: none;
    cursor: pointer;
  }
  
  .tabs .tab-list .active {
    @apply ring-2 ring-primary-900 dark:ring-primary-100 bg-primary-200 hover:bg-primary-100 dark:hover:bg-primary-800 dark:bg-primary-900 text-primary-900 dark:text-primary-100;
  }
  
  .tabs .tab-content {
    margin-top: 20px;
    // border: 1px solid black;
    @apply bg-white/80 dark:bg-black/80 shadow h-1/2 border-2 border-primary-800;
  }
  
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 50;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: rgba(255, 255, 255, 0.8);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  transition: transform 0.3s ease-in-out;
}

.header-hidden {
  transform: translateY(-100%);
}

.header-visible {
  transform: translateY(0);
}

.active-section {
  background-color: var(--primary-500);
  color: white;
  transition: background-color 0.3s ease-in-out;
}

/* Custom Arrow Styles */
.custom-arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.custom-arrow:hover {
  background-color: #f0f0f0;
}

.skill-card {
  @apply transition-transform transform hover:scale-105 duration-300 ease-in-out;
  @apply shadow-md hover:shadow-lg;
}

.fade-in {
  @apply opacity-0 transition-opacity duration-500 ease-in-out;
}

.fade-in-visible {
  @apply opacity-100;
}

dialog {
  transition: opacity 0.3s ease;
}

dialog[open] {
  opacity: 1;
}

dialog:not([open]) {
  opacity: 0;
  pointer-events: none;
}

.custom-arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background - color 0.3s ease;
}

.custom-arrow:hover {
  background-color: #f0f0f0;
}

.slick-prev::before,
.slick-next::before {
  display: none; /* Hide default arrow styles */
}

/* Add this CSS */
.side-panel {
  contain: strict;
}


*::-webkit-scrollbar-thumb:hover {
  background-color: #555
}

*::-webkit-scrollbar-thumb {
  background-color: #888; /* Color of the scrollbar thumb */
  border-radius: 10px; /* Rounded corners for the scrollbar thumb */
  transition:
    background-color 0.3s ease,
    height 0.3s ease,
    width 0.3s ease; /* Smooth transition for thumb properties */
}

*::-webkit-scrollbar-track {
  background: transparent; /* Transparent track background */
}

.katex {
  @apply bg-gray-100 text-gray-900 mx-1 px-2 py-1 rounded-md dark:bg-gray-900 dark:text-gray-100;
}

.react-resizable-handle {
  transform: scale(1.5);
}


.toolTip {
  @apply text-sm rounded-md p-0;
}
